extends template_navbar

block content
    #maps.col.s12
        .row
            #filterContainer.col.s4.m3.l2
                h4.header Filter
                form
                    p
                        input#filterPolizei.filterInput(type="checkbox", checked="checked")
                        label(for='filterPolizei') Polizeieins채tze
                    p
                        input#filterFeuerwehr.filterInput(type="checkbox", checked="checked")
                        label(for='filterFeuerwehr') Feuerwehreins채tze
                    p
                        input#filterArtikel.filterInput(type="checkbox", checked="checked")
                        label(for='filterArtikel') Zeitungsartikel
                    p
                        input#filterDenkmal.filterInput(type="checkbox", checked="checked")
                        label(for='filterDenkmal') Denkm채ler
                form(style="padding-top:20px")
                    p
                        input#filterLateest.filterInput(type="checkbox")
                        label(for='filterLateest') nur Meldungen aus 2017

                h4.header Legende
                form
                    p.valign-wrapper
                        img(src='../img/GooglePin-Polizei.png')
                        span(style="padding-left: 20px") Polizei
                    p.valign-wrapper
                        img(src='../img/GooglePin-Feuerwehr.png')
                        span(style="padding-left: 20px") Feuerwehr
                    p.valign-wrapper
                        img(src='../img/GooglePin-Zeitungsartikel.png')
                        span(style="padding-left: 20px") Zeitungsartikel
                    p.valign-wrapper
                        img(src='../img/GooglePin-PoI.png')
                        span(style="padding-left: 20px") Denkm채ler

            #mapContainer.col.s8.m9.l10
                nav.subnav
                    div.nav-wrapper
                            div.input-field
                                input#search(type="search")
                                label.label-icon(for="search")
                                    i.material-icons search
                                i.material-icons close
                #googleMap Lade Karte

    #statistik.col.s12
        .container.chartloader
            h4.header Lade Statistk...
            .progress
                .indeterminate

        div.row.chartview
            div.col.s12.m6
                div.card
                    div.card-content
                        div#container1
            div.col.s12.m6
                div.card
                    div.card-content
                        div#container2
            div.col.s12.m6
                div.card
                    div.card-content
                        div#container3
            div.col.s12.m6
                div.card
                    div.card-content
                        div#container4
        table#datatable
            thead
                tr
                    th
                    th Jane
                    th John
            tbody
                tr
                    th Apples
                    td 3
                    td 4
                tr
                    th Pears
                    td 2
                    td 0
                tr
                    th Plums
                    td 5
                    td 11
                tr
                    th Bananas
                    td 1
                    td 1
                tr
                    th Oranges
                    td 2
                    td 4
