extends template_navbar

block content
    #maps.col.s12
        .row
            #filterContainer.col.s4.m3.l2
                h4.header Filter
                form
                    p
                        input#filterPolizei.filterInput(type="checkbox", checked="checked")
                        label(for='filterPolizei') Polizeieinsätze
                    p
                        input#filterFeuerwehr.filterInput(type="checkbox", checked="checked")
                        label(for='filterFeuerwehr') Feuerwehreinsätze
                    p
                        input#filterArtikel.filterInput(type="checkbox", checked="checked")
                        label(for='filterArtikel') Zeitungsartikel
                    p
                        input#filterDenkmal.filterInput(type="checkbox", checked="checked")
                        label(for='filterDenkmal') Denkmäler
                form(style="padding-top:20px")
                    p
                        input#filterLateest.filterInput(type="checkbox")
                        label(for='filterLateest') nur Meldungen aus 2017

                h4.header Legende
                form
                    p.valign-wrapper
                        img(src='../img/GooglePin-Polizei.png')
                        span(style="padding-left: 20px") Polizei
                    p.valign-wrapper
                        img(src='../img/GooglePin-Feuerwehr.png')
                        span(style="padding-left: 20px") Feuerwehr
                    p.valign-wrapper
                        img(src='../img/GooglePin-Zeitungsartikel.png')
                        span(style="padding-left: 20px") Zeitungsartikel
                    p.valign-wrapper
                        img(src='../img/GooglePin-PoI.png')
                        span(style="padding-left: 20px") Denkmäler

            #mapContainer.col.s8.m9.l10
                nav.subnav
                    div.nav-wrapper
                            div.input-field
                                input#search(type="search")
                                label.label-icon(for="search")
                                    i.material-icons search
                                i.material-icons close
                #googleMap Lade Karte

                #modalInfoContent.modal.bottom-sheet
                    .modal-content
                    .modal-footer
                        a.modal-action.modal-close.waves-effect.btn-flat Schließen



    #statistik.col.s12
        .container.chartloader
            h4.header Lade Statistk...
            .progress
                .indeterminate

        div.row.chartview
            div.col.s12
                div.card
                    div.card-content
                        div#container3
            div.col.s12.l6
                div.card
                    div.card-content
                        div#container1
            div.col.s12.l6
                div.card
                    div.card-content
                        div#container2