extends layout

block content
	#test1.col.s12
		h1= title
		p Welcome to #{title}
	
	#test2.col.s12
		h1 TEST 2
		p WHey Wilkkomen beim TEST 4
	
	#test3.col.s12
		h1 TEST 3
		p Hey willkommen beim TEST 3
