extends template_navbar

block content
	#maps.col.s12
		.row
			.col.s3
				h3.header Filter
				p Her könnten iNformationen und Filter angezeigt werden

			#mapContainer.col.s9
				#googleMap Lade Karte

	#statistik.col.s12
		.container
			h3.header Statisitk
			p Hier werden diverse Charts angezeigt. Lade Daten...

			.progress
				.indeterminate


			