nav
	.nav-wrapper
		a.brand-logo.center(href='#') IS Virtualisierung      
		a.button-collapse(href='#', data-activates='mobile-demo')
			i.material-icons menu

		ul#nav-mobile.right.hide-on-med-and-down
			li: a(href='/'): i.material-icons home
			li: a(href='login') Anmelden  
		ul#mobile-demo.side-nav
			li: a(href='/'): i.material-icons home
			li: a(href='login') Anmelden  