.page-footer
	.container
		.row
			#footer-content.col.l6.s12
				h5.white-text Content
				p.grey-text.text-lighten-4 Der dargestellte Inhalt ist das Ergbenis von Extraktion aus den verschiedensten Quellen. Die Betreiber der Seite sind nicht fuer deren Inhalt Verantwortlich
			#footer-links.col.l4.offset-12.s12
				h5.white-text Links
				ul
					li: a.grey-text.text-lighten-3(href='https://www.berliner-feuerwehr.de/aktuelles/einsaetze/', target='_blank') Berliner Feuerwehr
					li: a.grey-text.text-lighten-3(href='https://www.berlin.de/polizei/polizeimeldungen/', target='_blank') Berliner Polizei
	.footer-copyright
		.container
			Copyright © 2017 Anne, Appolin, Martin
			a.grey-text.text-lighten-4.right(href='impressum') Impressum