@import "color";

body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow-y: scroll;
}
	
main{
	flex: 1 0 auto;
	.row{
		margin-bottom:0;
	}
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #CCC;
}
::-webkit-scrollbar-thumb:hover {
    background-color:  $primary-color-light;
}

.progress{
	background-color: lighten($secondary-color-light, 15%);
	
	.indeterminate {
    	background-color: $secondary-color-dark;
	}
}
.btn, .btn-large, .btn-floating
{
	background-color: $secondary-color;
	&:hover{
    	background-color: $secondary-color-light;
	}
	&:focus {
    	background-color: $secondary-color-dark;
	}
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
	color: $secondary-color;
	&:hover{
    	color: $secondary-color-light;
	}
	&:focus {
    	color: $secondary-color-dark;
	}
}

nav{
	background-color: $primary-color;
	&.subnav{
		background-color: $primary-color-light;
	}
}


.header{
	color: $primary-color-light;
    font-weight: 300;
}

.page-footer {
	background-color: $primary-color;
	
	#footer-links{
		a{
			&:hover{
				color: $secondary-color !important;
			}
		}
	}
	.footer-copyright{
		a{
			&:hover{
				color: $secondary-color !important;
			}
		}
	}
}

#maps{
	min-height: calc(100vh - 112px - 64px);
	padding-right: 0;

	.row{
		margin-bottom:0;
	}
	#mapContainer{
		padding: 0;
	}
	#filterContainer{
		overflow-y: auto;
	}

}
.gm-style-iw {
    top: 16px !important;
    left: 0 !important;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
#iw-container {
    max-width: 600px;

    .card-title{
        font-size: 20px;
        margin-bottom: 0;
    }
    .card-metadata{
        color: rgb(128,128,128);
        margin-bottom: 10px;
    }
    .card-content{
        padding-top: 10px;
    }
}

