@import "color";

body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
	

main{
	flex: 1 0 auto;
}

.progress{
	background-color: $secondary-color-light;
	
	.indeterminate {
    	background-color: $secondary-color-dark;
	}
}



.page-footer,
nav{
	background-color: $primary-color;
}

.header{
	color: $primary-color-light;
    font-weight: 300;
}
